{% extends 'azobe_base_front.html.twig' %}

{% block title 'Connexion  | ' ~ parent()%}

{% block registration %}

        {# Code du bon formulaire #}
			
		<section class="block-wrapper shadow-lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mx-auto">

						<div class="ts-grid-box">
							<div class="reg-page">
								<h3 class="log-sign-title mb-25 text-danger text-center">Inscrivez vous s'il vous plait 
									<i class="fa fa-edit text-danger" aria-hidden="true"></i></h3>
								<form>
									<i class="fa fa-user-edit text-danger"></i>
									<div class="form-row">
										<div class="col form-group">
											<label>Prénom</label>   
												<input type="text" class="form-control" placeholder="">
										</div> <!-- form-group end.// -->
										<div class="col form-group">
											<label>Nom de famille</label>
												<input type="text" class="form-control" placeholder=" ">
										</div> <!-- form-group end.// -->
									</div> <!-- form-row end.// -->
									<div class="form-group">
										<label>Adresse électronique</label>
										<input type="email" class="form-control" placeholder="">
										<small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</small>
									</div> <!-- form-group end.// -->

									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Ville</label>
											<input type="text" class="form-control">
										</div> <!-- form-group end.// -->
										<div class="form-group col-md-6">
											<label>Pays</label>
											<select id="inputState" class="form-control">
											<option> Choose...</option>
												<option>Gabon</option>
												<option>Congo</option>
												<option selected="">United States</option>
												<option>India</option>
												<option>Afganistan</option>
											</select>
										</div> <!-- form-group end.// -->
									</div> <!-- form-row.// -->
									<div class="form-group">
										<label>Mot de passe</label>
										<input class="form-control" type="password">
									</div> <!-- form-group end.// -->  
									<div class="form-group">
											<label>Confirmez le mot de passe</label>
											<input class="form-control" type="password">
										</div> <!-- form-group end.// --> 
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-block">  S'inscrire  </button>
									</div> <!-- form-group// -->      
									<small class="text-muted">En cliquant sur le bouton «S'inscrire», vous confirmez que vous acceptez nos conditions d'utilisation et notre politique de confidentialité.</small>                                          
								</form>
									<div class="border-top card-body text-center">Avez-vous déjà un compte? <a href="connexion.html">Se connecter</a></div>
							</div> <!-- card.// -->

						</div><!-- grid box end -->
					</div>
					<!-- col end-->
				</div>
				<!-- row end-->
			</div>
			<!-- container end-->
		</section>
       
        {# End Code du bon formulaire #}

		{# <form role="form">
            {{ form_start(registrationForm) }} #}
                                    
					{# <div class="form-group"> #}
						{# <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Nom d'utilisateur ou email"> #}
                    		{# {{ form_row(registrationForm.email) }}
								</div>
								<div class="form-group"> #}
								{# <a class="pull-right" href="#">mot de passe oublié?</a> #}
								{# <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe"> #}
                                  {# {{ form_row(registrationForm.plainPassword, { label: 'Password'})}} #}
								{# </div> #}
                            
                                {# <div class="checkbox pull-right mr-4"> #}
                                    {# <label> #}
                                       
                                       {# {{ form_row(registrationForm.agreeTerms) }} #}
                                    {# </label> #}
								{# </div> #}
                                {# <br> #}
								{# <div class="d-flex  ts-submit-btn"> #}
							{# <button class="btn btn-primary">Se connecter</button> #}
					{# </div> #}
			{# </form> #}

{% endblock %}
