

{% block body %}
<div class="blog_cookies_div" style="display: none;">
    <div class="container">
				<div class="blog_cookies_data">
					<h3>Notice cookies</h3>
					<p>
						Ce site utilise des cookies afin que nous puissions nous souvenir de vous et comprendre comment vous utilisez notre site. Vous pouvez modifier ce message et les liens ci-dessous sur votre site.
					</p>
					<p><strong>S'il vous plaît lire nos cookies &amp; Les politiques de confidentialité</strong></p>
					<a class="blog_btn cookie_btn" style="background: #fecf3c;color:white; padding: 12px;">Accepter</a>
				</div>
			</div>		
		</div>
{% endblock %}
			